@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&family=Titillium+Web:wght@300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 1px;
  background-color: #555B6E;
}

/* Home page */

